.cls{
    height: 100% !important;
    width: 99%;
    //border-color: black !important;
   // border-style: solid !important;
   // border: 1px;
//border-top-right-radius: 10px;    
//border-bottom-right-radius: 10px;
:focus{
    box-shadow: none !important
    ;
}
    
   
    
   
   
    
   /* border: 0 !important;*/
  
  }