.cls {
    height: 100% !important;
    width: 100% !important;

    :focus {
        box-shadow: none !important;
    }
}

.p-autocomplete-items-wrapper {
    .p-autocomplete-items {
        .p-highlight {
            background-color: rgba(255, 166, 0, 0.37);
        }

        .p-autocomplete-item {
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }
    }
}